/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "RobotoMedium";
    src: url("../fonts/RobotoMedium/RobotoMedium.eot");
    src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* INDEX.HTML*/
*{
	font-family: 'Roboto', sans-serif;
	color: #000;
	padding: 0;
	margin: 0;
}
html{
	width: 100%;
	height: 100%;
}
body{
	text-align: center;
	margin: 0;
	padding: 0;
	height: 100%;
}
/* MainContainer */
.wrapper{
	width: 100%;
    margin: 0 auto;
    height: 2350px !important;
    min-height: 100%;
	background: #ffffff;
	position: relative;
}
.wrapper p{
	margin: 20 10 0 10;
}
/* Header */
.mid{
	width: 800px;
	margin: 0 0 0 15%;
	text-align: justify;
	vertical-align: middle;
}
.header{
	background: #ffffff;
	opacity: 0;
	margin-bottom: 40px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	font-style: 'RobotoLight', sans-serif;
}
.header span{
	font-size: 18px;
}
.logotype{
	width: 48px;
	height: auto;
	margin-right: 10px;
	vertical-align: middle;
	cursor: pointer;
}
.headhesive{
	background: #ffffff;
	position: fixed;
	width: 100%;
	padding: 20px 0;
	transition: 0.5s;
	opacity: 1;
	z-index: 999;
}
.headhesive--stick{
	padding: 10px 0;
}
.head_button{
	border: none;
	font-size: 14px;
	position: relative;
	text-decoration: none;
	margin: 0 10px 0 10px;
}
.head_button:active{
	color: #099FED;
}
.head_button:hover{
	color: #099FED;
}
.header ul{
	display: inline;
}
.header ul li{
	display: inline;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
}
#calculate{
	width: 200px;
	height: 50px;
	background: transparent;
	color: #000;
	border: 2px solid;
	border-radius: 25px;
	font-size: 16px;
	margin: 0 0 0 40px;
}
#calculate:hover,
#calculate:active{
	color: #3FD016;
	border-color: #3FD016;
	cursor: pointer;
}
/* VIDEO!!!!!!!! */
.video video{
	height: 400px;
	width: 100%;
	align: center;
	margin: 10px 0 0 0;
	background: #19f717;
}
/* BigButtons */
.knopki{
	height: auto;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: #f6f6f6;
	display: block;
	position: relative;
}
.fonknopki{
	margin: 0 auto;
	width: 1000px;
	background: #f6f6f6;
}
.bigbutton{
	margin: 20px 10px 10px 10px;
	width: 27%;
	height: 110px;
	background: #fff;
	box-shadow: 5px inset #ffffff;
	display: inline-block;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.bigbutton img{
	float: left;
	margin: 15px;
}
.bigbutton span{
	font-size: 16px;
	font-family: 'RobotoLight', sans-serif;
	text-align: center;
	vertical-align: middle;
}
/* Sidebars */
.sale{
	height: auto !important;
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	font-style: 'RobotoRegular', sans-serif;
}
.sale button{
	width: 230px;
	height: 60px;
	font-size: 20px;
}
#BUT1{
	margin: 0px 0px 0px 30px;
}
#BUT2{
	margin: 0px 0px 0px 30px;
}
.leftbar{
	float: left;
	width: 50%;
	height: auto;
	margin: 0 0 50px 50px;
}
.leftbar p{
	font-size: 18px;
	margin: 40px 0px 0px 0px;
	text-align: left;
	line-height: 2;
}
.leftbar span{
	font-size: 28px;
	text-align: left;
	line-height: 1.5;
}
.rightbar{
	float: right;
	width: 45%;
	height: 400px;
}
.rightbar img{
	height: none;
	width: 250px;
	display: table-cell;
	margin: 0 auto;
}
.button_sale{
	color: #000;
	border: 2px solid #000;
	border-radius: 35px;
	text-align: center;
	outline: none;
	background: transparent;
}
.button_sale:hover,
.button_sale:active{
	color: #3FD016;
	border-color: #3FD016;
	cursor: pointer;
}
/* Poloska */
.poloska{
	height: 180px !important;
	width: 100%;
	text-align: center;
	margin: 30px 0 40px 0;
	padding: 0;
	background: #099FED;
	position: relative;
	display: inline-block;
}
.kartinka{
	margin: 20px 0px 0px 0px;
	width: 20%;
	height: 200px;
	display: inline-table;
	position: relative;
}
.kartinka p{
	margin: 0;
}
/* Info */
.info{
	width: 1000px;
	height: auto;
	text-align: center;
	margin: 0 auto;
}
.infocaption{
	font-size: 35px;
	font-style: 'RobotoLight', sans-serif;
}
.text span{
	text-align: center;
}
.text{
	font-size: 18px;
	text-align: left;
	margin: 10px 0 0 0;
	line-height: 1.3;
}
.caption1{
	font-weight: bold;
	line-height: 2.3;
}
/* Map */
.map{
	margin: 50px 0 0 0;
	position: absolute;
	width: 100%;
}
#YMapsID{
	width: 100%;
	height: 500px;
	z-index: 1000;
}
.rectangle{
	width: 300px;
	height: 50px;
	background: #b0b7c1;
	margin: 0 auto;
	text-align: center;
}
.rectangle p{
	margin: 0;
	padding: 0;
	z-index: 3;
	color: #fff;
	width: 100%;
	text-align: center;
}
.adress::before{
	left: 0;
	transform: skew(0 deg, 10deg);
	-webkit-transform: skew(0 deg, 10deg);
	background: #b0b7c1;
}
.adress::after{
	right: 0;
	transform: skew(10 deg, 0deg);
	-webkit-transform: skew(10 deg, 0deg);
	background: #b0b7c1;
}
/* Footer */
footer{
	width: 100%;
    height: 250px;
    margin-top: 0px;
    background: #E2E5E1;
    display: inline-block;
}
#footerimg{
	margin: 10px 10px -20px 0px;
}
#link1{
	font-size: 10px;
	margin: -15px 29% 0 0;
}
#questions{
	font-size: 24px;
}
#footertop{
	margin: 0 0 -5px 0; 
}
.links{
	display: inline-block;
	vertical-align: middle;
	margin: 20px 5% 0 5%;
	text-align: left;
}
.footerbut{
	width: 180px;
	height: 30px;
	border: 0;
	background: #3FD016;
	margin: 1px 0 0 -4px;
	font-size: 18px;
	color: #fff;
	outline: none;
}
.footerbut:hover,
.foterbut:active{
	cursor: pointer;
	color: #000;
}
.footertb{
	width: 180px;
	height: 30px;
	margin: 0 0 0 20px;
	outline: none;
	border: 0;
}

/*===================================*/
/* Contacts.HTML */
.contacts{
	width: 1000px;
	height: 1000px !important;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.contacts h1{
	margin: 70px 0 0 0;
}
.leftbar_2{
	margin: 20px auto;
	float: left;
}
.leftbar_2 p{
	text-align: left;
	font-size: 16px;
	float: left;
}
.rightbar_2{
	margin: 20px auto;
	float: right;
	width: 57%;
}
.caption{
	font-size: 24px;
}
.inputs{
	margin: 16px auto;
	float: right;
	width: 100%;
	height: 100%;
}
form{
	vertical-align: middle;
}
.textbox{
	float: left;
	display: inline;
	margin: 0 10px 0 0;
	width: 150px;
	height: 20px;
}
.top{
	height: auto;
	width: 100%;
	margin: 0 auto;
	display: inline-block;
}
.top1{
	display: flex;
}
.label{
	flex: 1;
	float: left;
	margin: 0 auto;
}
.textbox{
	flex: 1;
	float: left;
	margin: 0 auto;
}
.bot{
	height: auto;
	width: 100%;
	margin: 0 auto;
	display: inline-block;
}
.bigtextbox{
	width: 460px;
	height: 75px;
	float: left;
}
/*===================================*/
/* AboutCompany.HTML */
.picturetext{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.picturetext h1{
	margin: 70px 0 10px 0;
}
.picturetext h2{
	margin: 10px 0 10px 0;
}
.smalltext{
	text-align: center;
	margin: 10px 10px 10px 10px;
	height: 100px;
}
.smalltext img{
	float: left;
	margin: 12px auto;
	width: auto;
}
.smalltext p{
	text-align: left;
	float: right;
	width: 90%;
}
.smalltext span{
	margin: 0;
	padding: 0;
}
.bigtext{
	width: 100%;
	display: flex;
}
.bigtext img{
	width: 28%;
}
#paragraph_1{
	flex: 1;
}
#paragraph_2{
	flex: 1;
}
